body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7fd2e1; /* Light teal color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.app-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    color: #007bff;
}

#task-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#task-input {
    padding: 10px;
    width: calc(60% - 5px);
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

#due-date {
    padding: 10px;
    width: calc(30% - 5px);
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    color: black;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

#filter-form {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.completed {
    background-color: #28a745;
    color: #fff;
}

.pending {
    background-color: #dc3545;
    color: #fff;
}

.due-date {
    margin-left: 10px;
    font-size: 14px;
}

.task-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.task-buttons button {
    margin-left: 5px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
}

.task-buttons button:hover {
    color: #0056b3;
}

.task-buttons button i {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    #task-form {
        flex-direction: column;
    }
    
    #task-input, #due-date {
        width: 100%;
    }
    
    .task-info {
        width: 100%;
    }
}
